<h2 class="screen-align">Test</h2>
<div id="template-i96k" class="gjs-row">
    <div id="template-iz0l" class="gjs-cell">
        <label id="template-i77l" class="label ">Label</label>
        <input id="template-izu1" [(ngModel)]="ticket.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-i3fhh" (click)="Create()" class="button btn btn-primary ">Send</div>
    </div>
    <div id="template-ic9k" class="gjs-cell">
        <label id="template-i3jl" class="label ">Label</label>
        <input id="template-imbi" class="input form-control " />
    </div>
</div>